<div class="container">
    <div class="badge">
        <button (click)="toFinishTodo()" mat-stroked-button color="primary" matBadge="{{todoClosed}}">Go to finished tasks </button>

    </div>
    <button (click)="toCreateNewTaskPage()" class="new-todo mat-elevation-z8" mat-raised-button color="primary">New Todo</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p>deadline: {{item.deadline}}</p>
            <mat-card-header>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button (click)="finishTask(item)" mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(item.id)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>

</div>
