<div class="container">
    <div class="badge">
        <button (click)="toFinishTodo()" mat-raised-button color="primary">Go to finished tasks </button>
        <button (click)="toCreateNewTaskPage()" class="new-todo mat-elevation-z8" mat-raised-button color="primary">New Todo</button>
    </div>

    <div class="content" *ngFor="let item of list">       
        <mat-card class="mat-elevation-z8">
            <p>deadline: {{item.deadline}}</p>
            <mat-card-header>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button (click)="finishTask(item)" mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button [routerLink]="['/update']" [state]="{id: item.id, title: item.title, description: item.description, deadline: item.deadline, isFinished: item.isFinished}"  mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(item.id)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
    <mat-paginator 
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]= "3"
    [pageSizeOptions]="[3]"
    [pageIndex]= "pageIndex"
    aria-label="Select page">
    </mat-paginator>
</div>
